{% with request.resolver_match.view_name as v_n %}

  <article>
    <ul>
      <li>
          Место: {{ post.location }}
      </li>
      <li>
          Дата: {{ post.date }}
      </li>
      <li>
          Категория: <a href="{% url 'blog:category_posts' post.category %}">{{ post.category }}</a>
      </li>
    </ul>         
    {% if v_n == 'blog:index' %}
      <p>
        {{ post.text|truncatewords:10 }}
        <a href="{% url 'blog:post_detail' post.id %}">Читать полный текст</a>
      </p>
    {% elif v_n == 'blog:post_detail' %}
      <p>
        {{ post.text|linebreaksbr }}
      </p>
    {% endif %}  
  </article>                
{% endwith %}